@import "tailwindcss";

.custom-container {
  max-width: 64rem;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.animation {
  animation: loop-scroll 50s linear infinite;
}

@keyframes loop-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
